
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid rgb(59 130 246); /* blue */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

input.ng-pristine {
  color: gray;
  border-left: 5px solid rgb(59 130 246);
}



