<main class="bg-blue-500 w-full h-screen flex justify-center items-center">

  <div class="w-2/5 h-[500px] bg-white flex">
    <div class="w-1/3 h-full bg-gray-300">

    </div>
    <form #loginForm="ngForm" class="w-2/3 p-8">
      <h2 class="text-2xl">Connexion</h2>

      {{ identifier | json }}
      <div class="flex flex-col mt-16 h-full gap-3">
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="foo@bar.com" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="identifier.email" #email='ngModel' required class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="email.errors?.['required']">L'email est obligatoire</span>
            <span *ngIf="email.invalid && !email.errors?.['required']">Le format de l'email n'est pas valide</span>
          </div>
        </div>

        <div>
          <label for="password">Mot de passe</label>
          <input type="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;" name="password" #password="ngModel" [(ngModel)]="identifier.password" required class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="password.errors?.['required']">Le mot de passe est obligatoire</span>

          </div>
        </div>

        <div class="w-full flex justify-between">
          <button class="w-2/5 border-2 border-blue-500 text-blue-500 font-semibold h-[50px]">S'inscrire</button>
          <button [disabled]="loginForm.invalid" class="w-2/5 bg-blue-500 text-white font-semibold h-[50px]">Se connecter</button>
        </div>
      </div>

    </form>


  </div>


</main>
