<div class="border-b h-16 w-full flex">
  <div class="w-2/12 flex items-center">
    {{application.companyName}}
  </div>
  <div class="flex px-4 items-center h-16 w-7/12">
    <div class="flex w-3/12 gap-2">
      <fa-icon [icon]="faPhone"></fa-icon>
      {{application.phoneNumber}}</div>
    <div class="flex w-4/12 gap-2">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      {{application.email}}</div>
    <div class="flex w-5/12 gap-2">
      <fa-icon [icon]="faLink"></fa-icon>
      {{application.webSite}}</div>

  </div>
  <div class="text-center w-1/12 flex items-center">
    {{application.submitedAt | date:'dd/MM/yy \à H:mm' }}
  </div>
  <div class="w-1/12 flex items-center justify-center">
        <span *ngIf="application.status === 'declined' "
              class="text-center bg-red-200 rounded-full w-[100px] h-fit px-2 py-1 border border-red-600 text-red-600">
        Refusée
        </span>
    <span *ngIf="application.status === 'waiting' "
          class="text-center bg-orange-200 rounded-full w-[100px] h-fit px-2 py-1 border border-orange-400 text-orange-600">
        En attente
        </span>
    <span *ngIf="application.status === 'accepted' "
          class="text-center bg-green-200 rounded-full w-[100px] h-fit px-2 py-1 border border-green-600 text-green-600">
        Acceptée
        </span>
  </div>
  <div class="text-center flex justify-center gap-3 w-1/12 items-center">
    <fa-icon [icon]="faPencil" title="Modifier" class="text-yellow-400"></fa-icon>
    <fa-icon (click)="deleteApplication(application)" [icon]="faTrash" title="Supprimer" class="text-red-600 cursor-pointer"></fa-icon>
  </div>
</div>



