<main class="bg-blue-500 w-full h-screen flex justify-center items-center">

  <div class="h-fit bg-white flex justify-center">
    <form #loginForm="ngForm" (submit)="register()" class="p-8">
      <h2 class="text-2xl mb-4">Inscription</h2>


      <div class="flex flex-col mt-16 h-full gap-3">
        <div *ngIf="message" class="text-red-700 font-semibold w-full text-center ">{{message}}</div>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="foo@bar.com" name="email"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="user.email" #email='ngModel' required
                 class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="email.errors?.['required']">L'email est obligatoire</span>
            <span *ngIf="email.invalid && !email.errors?.['required']">Le format de l'email n'est pas valide</span>
          </div>
        </div>
        <div>
          <label for="lastName">Nom</label>
          <input type="text" id="lastName" placeholder="foo" name="firstName" [(ngModel)]="user.lastName"
                 #lastName='ngModel' required class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
               class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="lastName.errors?.['required']">L'email est obligatoire</span>
          </div>
        </div>

        <div>
          <label for="firstName">Prénom</label>
          <input type="text" id="firstName" placeholder="foo" name="firstName" [(ngModel)]="user.firstName"
                 #firstName='ngModel' required class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
               class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="firstName.errors?.['required']">L'email est obligatoire</span>
          </div>
        </div>


        <div>
          <label for="password">Mot de passe</label>
          <input type="password" id="password" placeholder="&bull;&bull;&bull;&bull;&bull;" name="password"
                 #password="ngModel" [(ngModel)]="user.plainPassword" required
                 class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="password.errors?.['required']">Le mot de passe est obligatoire</span>

          </div>
        </div>
        <div>
          <label for="confirmPassword">Confirmez le mot de passe</label>
          <input type="password" id="confirmPassword" placeholder="&bull;&bull;&bull;&bull;&bull;" name="confirmPassword"
                 #confirmPassword="ngModel" [(ngModel)]="user.plainPassword" required
                 class="h-[50px] w-full border rounded p-2 mb-4">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
               class="w-full h-[40px] bg-red-300 text-red-800 flex items-center px-2 -mt-5 rounded-b text-sm">
            <span *ngIf="confirmPassword.errors?.['required']">Le mot de passe est obligatoire</span>

          </div>
        </div>

        <div class="w-full flex justify-center">
          <a routerLink="/register"
             class="flex items-center justify-center w-2/5 bg-blue-500 text-white font-semibold h-[50px]">S'inscrire</a>

        </div>
      </div>

    </form>


  </div>


</main>

