<div class="flex">
  <div class="flex flex-col w-full p-8">
    <h1 class="text-2xl">Mes candidatures</h1>
<button (click)="console.log(applicationToUpdate)">TEST</button>
    <button class="w-fit h-fit px-4 py-2 bg-cyan-700 text-white font-semibold" (click)="toggleFormState()">Ajouter une candidature</button>
    <section>
      <app-application-list (updateApplicationEvent)="updateApplication($event)" [applications]="applications"></app-application-list>
    </section>

  </div>
    <section class="w-4/12 shadow-[-10px_0px_10px_0px_rgba(0,0,0,0.1)]" [@showFormApplication]="formState" *ngIf="formState">
      <app-application-form [appToUpdate]="applicationToUpdate" (newApplicationEvent)="addApplicationListener($event)"></app-application-form>
    </section>
  </div>
