/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "src/assets/form.scss";
@import 'ngx-toastr/toastr';

.link-active{
  background-color: #3b82f6;
  color:white;
  &:hover{
    color: #3b82f6;
    background-color: white;
  }
}

.link-notActive{
  &:hover{
    background-color: white;
    color:#3b82f6;
  }
}
