/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "src/assets/form.scss";
@import 'ngx-toastr/toastr';

.link-active{
  background-color: #3b82f6;
  color:white;
  &:hover{
    color: #3b82f6;
    background-color: white;
  }
}

.link-notActive{
  &:hover{
    background-color: white;
    color:#3b82f6;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//Drag and Drop

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
